IntelliTraxx/Service References/TruckService/TruckService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TruckService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/TraxxCloudService/TruckService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/TraxxCloudService/TruckService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/TraxxCloudService/TruckService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LATATrax" />
      <xsd:import schemaLocation="http://localhost/TraxxCloudService/TruckService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LATATrax.Messages" />
      <xsd:import schemaLocation="http://localhost/TraxxCloudService/TruckService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/LATATrax.Models" />
      <xsd:import schemaLocation="http://localhost/TraxxCloudService/TruckService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITruckService_getVehicles_InputMessage">
    <wsdl:part name="parameters" element="tns:getVehicles" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getVehicles_OutputMessage">
    <wsdl:part name="parameters" element="tns:getVehiclesResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getVehicleList_InputMessage">
    <wsdl:part name="parameters" element="tns:getVehicleList" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getVehicleList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getVehicleListResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllVehicles_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllVehicles" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllVehicles_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllVehiclesResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getLastTwoHours_InputMessage">
    <wsdl:part name="parameters" element="tns:getLastTwoHours" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getLastTwoHours_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLastTwoHoursResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getLocationHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:getLocationHistory" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getLocationHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLocationHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllGPS_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllGPS" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllGPS_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllGPSResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getGPS_InputMessage">
    <wsdl:part name="parameters" element="tns:getGPS" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getGPS_OutputMessage">
    <wsdl:part name="parameters" element="tns:getGPSResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getVehicleData_InputMessage">
    <wsdl:part name="parameters" element="tns:getVehicleData" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getVehicleData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getVehicleDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_killVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:killVehicle" />
  </wsdl:message>
  <wsdl:message name="ITruckService_killVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:killVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_logonUser_InputMessage">
    <wsdl:part name="parameters" element="tns:logonUser" />
  </wsdl:message>
  <wsdl:message name="ITruckService_logonUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:logonUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserProfile" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsers" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getUsersByRole_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsersByRole" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getUsersByRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsersByRoleResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getUsersByCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsersByCompany" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getUsersByCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsersByCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_setUser_InputMessage">
    <wsdl:part name="parameters" element="tns:setUser" />
  </wsdl:message>
  <wsdl:message name="ITruckService_setUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:setUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_resetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:resetPassword" />
  </wsdl:message>
  <wsdl:message name="ITruckService_resetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:resetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_deleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteUser" />
  </wsdl:message>
  <wsdl:message name="ITruckService_deleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getUserRolesGuids_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserRolesGuids" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getUserRolesGuids_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserRolesGuidsResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getUserCompanies_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserCompanies" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getUserCompanies_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getUserCompaniesFull_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserCompaniesFull" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getUserCompaniesFull_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserCompaniesFullResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getUserRolesFull_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserRolesFull" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getUserRolesFull_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserRolesFullResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getCompanies_InputMessage">
    <wsdl:part name="parameters" element="tns:getCompanies" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getCompanies_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_setCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:setCompany" />
  </wsdl:message>
  <wsdl:message name="ITruckService_setCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:setCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_deleteCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteCompany" />
  </wsdl:message>
  <wsdl:message name="ITruckService_deleteCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:getRoles" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRolesResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_setRole_InputMessage">
    <wsdl:part name="parameters" element="tns:setRole" />
  </wsdl:message>
  <wsdl:message name="ITruckService_setRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:setRoleResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_deleteRole_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteRole" />
  </wsdl:message>
  <wsdl:message name="ITruckService_deleteRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteRoleResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_addUserToCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:addUserToCompany" />
  </wsdl:message>
  <wsdl:message name="ITruckService_addUserToCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUserToCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_removeUserFromCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:removeUserFromCompany" />
  </wsdl:message>
  <wsdl:message name="ITruckService_removeUserFromCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeUserFromCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_addUserToRole_InputMessage">
    <wsdl:part name="parameters" element="tns:addUserToRole" />
  </wsdl:message>
  <wsdl:message name="ITruckService_addUserToRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUserToRoleResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_removeUserFromRole_InputMessage">
    <wsdl:part name="parameters" element="tns:removeUserFromRole" />
  </wsdl:message>
  <wsdl:message name="ITruckService_removeUserFromRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeUserFromRoleResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllUserRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllUserRoles" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllUserRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllUserRolesResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllUserCompanies_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllUserCompanies" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllUserCompanies_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllUserCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getExtendedData_InputMessage">
    <wsdl:part name="parameters" element="tns:getExtendedData" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getExtendedData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getExtendedDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_updateExtendedData_InputMessage">
    <wsdl:part name="parameters" element="tns:updateExtendedData" />
  </wsdl:message>
  <wsdl:message name="ITruckService_updateExtendedData_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateExtendedDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_deleteExtendedData_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteExtendedData" />
  </wsdl:message>
  <wsdl:message name="ITruckService_deleteExtendedData_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteExtendedDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getVehicleClasses_InputMessage">
    <wsdl:part name="parameters" element="tns:getVehicleClasses" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getVehicleClasses_OutputMessage">
    <wsdl:part name="parameters" element="tns:getVehicleClassesResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_updateVehicleClass_InputMessage">
    <wsdl:part name="parameters" element="tns:updateVehicleClass" />
  </wsdl:message>
  <wsdl:message name="ITruckService_updateVehicleClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateVehicleClassResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_deleteVehicleClass_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteVehicleClass" />
  </wsdl:message>
  <wsdl:message name="ITruckService_deleteVehicleClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteVehicleClassResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getDrivers_InputMessage">
    <wsdl:part name="parameters" element="tns:getDrivers" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getDrivers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDriversResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAvailableDrivers_InputMessage">
    <wsdl:part name="parameters" element="tns:getAvailableDrivers" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAvailableDrivers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAvailableDriversResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_updateDriver_InputMessage">
    <wsdl:part name="parameters" element="tns:updateDriver" />
  </wsdl:message>
  <wsdl:message name="ITruckService_updateDriver_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateDriverResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_deleteDriver_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteDriver" />
  </wsdl:message>
  <wsdl:message name="ITruckService_deleteDriver_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteDriverResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAppVars_InputMessage">
    <wsdl:part name="parameters" element="tns:getAppVars" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAppVars_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAppVarsResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_updateAppVar_InputMessage">
    <wsdl:part name="parameters" element="tns:updateAppVar" />
  </wsdl:message>
  <wsdl:message name="ITruckService_updateAppVar_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateAppVarResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_deleteAppVar_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteAppVar" />
  </wsdl:message>
  <wsdl:message name="ITruckService_deleteAppVar_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteAppVarResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getServiceVars_InputMessage">
    <wsdl:part name="parameters" element="tns:getServiceVars" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getServiceVars_OutputMessage">
    <wsdl:part name="parameters" element="tns:getServiceVarsResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_updateServiceVar_InputMessage">
    <wsdl:part name="parameters" element="tns:updateServiceVar" />
  </wsdl:message>
  <wsdl:message name="ITruckService_updateServiceVar_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateServiceVarResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_deleteServiceVar_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteServiceVar" />
  </wsdl:message>
  <wsdl:message name="ITruckService_deleteServiceVar_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteServiceVarResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getVars_InputMessage">
    <wsdl:part name="parameters" element="tns:getVars" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getVars_OutputMessage">
    <wsdl:part name="parameters" element="tns:getVarsResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getSpecificVar_InputMessage">
    <wsdl:part name="parameters" element="tns:getSpecificVar" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getSpecificVar_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSpecificVarResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_updateVar_InputMessage">
    <wsdl:part name="parameters" element="tns:updateVar" />
  </wsdl:message>
  <wsdl:message name="ITruckService_updateVar_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateVarResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_deleteVar_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteVar" />
  </wsdl:message>
  <wsdl:message name="ITruckService_deleteVar_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteVarResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllStatus" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getTruckStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:getTruckStatus" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getTruckStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTruckStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_dispatchVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:dispatchVehicle" />
  </wsdl:message>
  <wsdl:message name="ITruckService_dispatchVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:dispatchVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllDispatches_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllDispatches" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllDispatches_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllDispatchesResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getDispatchesByVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:getDispatchesByVehicle" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getDispatchesByVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDispatchesByVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getDispatchesByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:getDispatchesByRange" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getDispatchesByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDispatchesByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getDispatchesByID_InputMessage">
    <wsdl:part name="parameters" element="tns:getDispatchesByID" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getDispatchesByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDispatchesByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllAlerts_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllAlerts" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllAlerts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllAlertsResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllAlertsByVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllAlertsByVehicle" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllAlertsByVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllAlertsByVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllAlertsByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllAlertsByRange" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllAlertsByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllAlertsByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllAlertsByRangeByType_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllAlertsByRangeByType" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllAlertsByRangeByType_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllAlertsByRangeByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllAlertByID_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllAlertByID" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllAlertByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllAlertByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllAlertsByRangeByVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllAlertsByRangeByVehicle" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAllAlertsByRangeByVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllAlertsByRangeByVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getGPSTracking_InputMessage">
    <wsdl:part name="parameters" element="tns:getGPSTracking" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getGPSTracking_OutputMessage">
    <wsdl:part name="parameters" element="tns:getGPSTrackingResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_clearAlerts_InputMessage">
    <wsdl:part name="parameters" element="tns:clearAlerts" />
  </wsdl:message>
  <wsdl:message name="ITruckService_clearAlerts_OutputMessage">
    <wsdl:part name="parameters" element="tns:clearAlertsResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_reloadVehicles_InputMessage">
    <wsdl:part name="parameters" element="tns:reloadVehicles" />
  </wsdl:message>
  <wsdl:message name="ITruckService_reloadVehicles_OutputMessage">
    <wsdl:part name="parameters" element="tns:reloadVehiclesResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_logoffDriver_InputMessage">
    <wsdl:part name="parameters" element="tns:logoffDriver" />
  </wsdl:message>
  <wsdl:message name="ITruckService_logoffDriver_OutputMessage">
    <wsdl:part name="parameters" element="tns:logoffDriverResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_changeDrivers_InputMessage">
    <wsdl:part name="parameters" element="tns:changeDrivers" />
  </wsdl:message>
  <wsdl:message name="ITruckService_changeDrivers_OutputMessage">
    <wsdl:part name="parameters" element="tns:changeDriversResponse" />
  </wsdl:message>
  <wsdl:portType name="ITruckService">
    <wsdl:operation name="getVehicles">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getVehicles" message="tns:ITruckService_getVehicles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getVehiclesResponse" message="tns:ITruckService_getVehicles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getVehicleList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getVehicleList" message="tns:ITruckService_getVehicleList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getVehicleListResponse" message="tns:ITruckService_getVehicleList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllVehicles">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getAllVehicles" message="tns:ITruckService_getAllVehicles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getAllVehiclesResponse" message="tns:ITruckService_getAllVehicles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLastTwoHours">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getLastTwoHours" message="tns:ITruckService_getLastTwoHours_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getLastTwoHoursResponse" message="tns:ITruckService_getLastTwoHours_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLocationHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getLocationHistory" message="tns:ITruckService_getLocationHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getLocationHistoryResponse" message="tns:ITruckService_getLocationHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllGPS">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getAllGPS" message="tns:ITruckService_getAllGPS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getAllGPSResponse" message="tns:ITruckService_getAllGPS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getGPS">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getGPS" message="tns:ITruckService_getGPS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getGPSResponse" message="tns:ITruckService_getGPS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getVehicleData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getVehicleData" message="tns:ITruckService_getVehicleData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getVehicleDataResponse" message="tns:ITruckService_getVehicleData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="killVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/killVehicle" message="tns:ITruckService_killVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/killVehicleResponse" message="tns:ITruckService_killVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logonUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/logonUser" message="tns:ITruckService_logonUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/logonUserResponse" message="tns:ITruckService_logonUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getUserProfile" message="tns:ITruckService_getUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getUserProfileResponse" message="tns:ITruckService_getUserProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getUsers" message="tns:ITruckService_getUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getUsersResponse" message="tns:ITruckService_getUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUsersByRole">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getUsersByRole" message="tns:ITruckService_getUsersByRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getUsersByRoleResponse" message="tns:ITruckService_getUsersByRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUsersByCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getUsersByCompany" message="tns:ITruckService_getUsersByCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getUsersByCompanyResponse" message="tns:ITruckService_getUsersByCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/setUser" message="tns:ITruckService_setUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/setUserResponse" message="tns:ITruckService_setUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="resetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/resetPassword" message="tns:ITruckService_resetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/resetPasswordResponse" message="tns:ITruckService_resetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/deleteUser" message="tns:ITruckService_deleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/deleteUserResponse" message="tns:ITruckService_deleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserRolesGuids">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getUserRolesGuids" message="tns:ITruckService_getUserRolesGuids_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getUserRolesGuidsResponse" message="tns:ITruckService_getUserRolesGuids_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserCompanies">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getUserCompanies" message="tns:ITruckService_getUserCompanies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getUserCompaniesResponse" message="tns:ITruckService_getUserCompanies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserCompaniesFull">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getUserCompaniesFull" message="tns:ITruckService_getUserCompaniesFull_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getUserCompaniesFullResponse" message="tns:ITruckService_getUserCompaniesFull_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserRolesFull">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getUserRolesFull" message="tns:ITruckService_getUserRolesFull_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getUserRolesFullResponse" message="tns:ITruckService_getUserRolesFull_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCompanies">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getCompanies" message="tns:ITruckService_getCompanies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getCompaniesResponse" message="tns:ITruckService_getCompanies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/setCompany" message="tns:ITruckService_setCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/setCompanyResponse" message="tns:ITruckService_setCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/deleteCompany" message="tns:ITruckService_deleteCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/deleteCompanyResponse" message="tns:ITruckService_deleteCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getRoles" message="tns:ITruckService_getRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getRolesResponse" message="tns:ITruckService_getRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setRole">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/setRole" message="tns:ITruckService_setRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/setRoleResponse" message="tns:ITruckService_setRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteRole">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/deleteRole" message="tns:ITruckService_deleteRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/deleteRoleResponse" message="tns:ITruckService_deleteRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUserToCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/addUserToCompany" message="tns:ITruckService_addUserToCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/addUserToCompanyResponse" message="tns:ITruckService_addUserToCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeUserFromCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/removeUserFromCompany" message="tns:ITruckService_removeUserFromCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/removeUserFromCompanyResponse" message="tns:ITruckService_removeUserFromCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUserToRole">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/addUserToRole" message="tns:ITruckService_addUserToRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/addUserToRoleResponse" message="tns:ITruckService_addUserToRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeUserFromRole">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/removeUserFromRole" message="tns:ITruckService_removeUserFromRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/removeUserFromRoleResponse" message="tns:ITruckService_removeUserFromRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllUserRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getAllUserRoles" message="tns:ITruckService_getAllUserRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getAllUserRolesResponse" message="tns:ITruckService_getAllUserRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllUserCompanies">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getAllUserCompanies" message="tns:ITruckService_getAllUserCompanies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getAllUserCompaniesResponse" message="tns:ITruckService_getAllUserCompanies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getExtendedData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getExtendedData" message="tns:ITruckService_getExtendedData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getExtendedDataResponse" message="tns:ITruckService_getExtendedData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateExtendedData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/updateExtendedData" message="tns:ITruckService_updateExtendedData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/updateExtendedDataResponse" message="tns:ITruckService_updateExtendedData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteExtendedData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/deleteExtendedData" message="tns:ITruckService_deleteExtendedData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/deleteExtendedDataResponse" message="tns:ITruckService_deleteExtendedData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getVehicleClasses">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getVehicleClasses" message="tns:ITruckService_getVehicleClasses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getVehicleClassesResponse" message="tns:ITruckService_getVehicleClasses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateVehicleClass">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/updateVehicleClass" message="tns:ITruckService_updateVehicleClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/updateVehicleClassResponse" message="tns:ITruckService_updateVehicleClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteVehicleClass">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/deleteVehicleClass" message="tns:ITruckService_deleteVehicleClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/deleteVehicleClassResponse" message="tns:ITruckService_deleteVehicleClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDrivers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getDrivers" message="tns:ITruckService_getDrivers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getDriversResponse" message="tns:ITruckService_getDrivers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAvailableDrivers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getAvailableDrivers" message="tns:ITruckService_getAvailableDrivers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getAvailableDriversResponse" message="tns:ITruckService_getAvailableDrivers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateDriver">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/updateDriver" message="tns:ITruckService_updateDriver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/updateDriverResponse" message="tns:ITruckService_updateDriver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteDriver">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/deleteDriver" message="tns:ITruckService_deleteDriver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/deleteDriverResponse" message="tns:ITruckService_deleteDriver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAppVars">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getAppVars" message="tns:ITruckService_getAppVars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getAppVarsResponse" message="tns:ITruckService_getAppVars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateAppVar">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/updateAppVar" message="tns:ITruckService_updateAppVar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/updateAppVarResponse" message="tns:ITruckService_updateAppVar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteAppVar">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/deleteAppVar" message="tns:ITruckService_deleteAppVar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/deleteAppVarResponse" message="tns:ITruckService_deleteAppVar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getServiceVars">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getServiceVars" message="tns:ITruckService_getServiceVars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getServiceVarsResponse" message="tns:ITruckService_getServiceVars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateServiceVar">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/updateServiceVar" message="tns:ITruckService_updateServiceVar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/updateServiceVarResponse" message="tns:ITruckService_updateServiceVar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteServiceVar">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/deleteServiceVar" message="tns:ITruckService_deleteServiceVar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/deleteServiceVarResponse" message="tns:ITruckService_deleteServiceVar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getVars">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getVars" message="tns:ITruckService_getVars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getVarsResponse" message="tns:ITruckService_getVars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSpecificVar">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getSpecificVar" message="tns:ITruckService_getSpecificVar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getSpecificVarResponse" message="tns:ITruckService_getSpecificVar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateVar">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/updateVar" message="tns:ITruckService_updateVar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/updateVarResponse" message="tns:ITruckService_updateVar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteVar">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/deleteVar" message="tns:ITruckService_deleteVar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/deleteVarResponse" message="tns:ITruckService_deleteVar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getAllStatus" message="tns:ITruckService_getAllStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getAllStatusResponse" message="tns:ITruckService_getAllStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTruckStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getTruckStatus" message="tns:ITruckService_getTruckStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getTruckStatusResponse" message="tns:ITruckService_getTruckStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="dispatchVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/dispatchVehicle" message="tns:ITruckService_dispatchVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/dispatchVehicleResponse" message="tns:ITruckService_dispatchVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllDispatches">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getAllDispatches" message="tns:ITruckService_getAllDispatches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getAllDispatchesResponse" message="tns:ITruckService_getAllDispatches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDispatchesByVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getDispatchesByVehicle" message="tns:ITruckService_getDispatchesByVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getDispatchesByVehicleResponse" message="tns:ITruckService_getDispatchesByVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDispatchesByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getDispatchesByRange" message="tns:ITruckService_getDispatchesByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getDispatchesByRangeResponse" message="tns:ITruckService_getDispatchesByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDispatchesByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getDispatchesByID" message="tns:ITruckService_getDispatchesByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getDispatchesByIDResponse" message="tns:ITruckService_getDispatchesByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllAlerts">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getAllAlerts" message="tns:ITruckService_getAllAlerts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getAllAlertsResponse" message="tns:ITruckService_getAllAlerts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllAlertsByVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getAllAlertsByVehicle" message="tns:ITruckService_getAllAlertsByVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getAllAlertsByVehicleResponse" message="tns:ITruckService_getAllAlertsByVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllAlertsByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getAllAlertsByRange" message="tns:ITruckService_getAllAlertsByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getAllAlertsByRangeResponse" message="tns:ITruckService_getAllAlertsByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllAlertsByRangeByType">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getAllAlertsByRangeByType" message="tns:ITruckService_getAllAlertsByRangeByType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getAllAlertsByRangeByTypeResponse" message="tns:ITruckService_getAllAlertsByRangeByType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllAlertByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getAllAlertByID" message="tns:ITruckService_getAllAlertByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getAllAlertByIDResponse" message="tns:ITruckService_getAllAlertByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllAlertsByRangeByVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getAllAlertsByRangeByVehicle" message="tns:ITruckService_getAllAlertsByRangeByVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getAllAlertsByRangeByVehicleResponse" message="tns:ITruckService_getAllAlertsByRangeByVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getGPSTracking">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getGPSTracking" message="tns:ITruckService_getGPSTracking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getGPSTrackingResponse" message="tns:ITruckService_getGPSTracking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="clearAlerts">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/clearAlerts" message="tns:ITruckService_clearAlerts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/clearAlertsResponse" message="tns:ITruckService_clearAlerts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reloadVehicles">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/reloadVehicles" message="tns:ITruckService_reloadVehicles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/reloadVehiclesResponse" message="tns:ITruckService_reloadVehicles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logoffDriver">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/logoffDriver" message="tns:ITruckService_logoffDriver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/logoffDriverResponse" message="tns:ITruckService_logoffDriver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="changeDrivers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/changeDrivers" message="tns:ITruckService_changeDrivers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/changeDriversResponse" message="tns:ITruckService_changeDrivers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITruckService" type="tns:ITruckService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getVehicles">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getVehicles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVehicleList">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getVehicleList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllVehicles">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getAllVehicles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastTwoHours">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getLastTwoHours" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLocationHistory">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getLocationHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllGPS">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getAllGPS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGPS">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getGPS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVehicleData">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getVehicleData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="killVehicle">
      <soap:operation soapAction="http://tempuri.org/ITruckService/killVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logonUser">
      <soap:operation soapAction="http://tempuri.org/ITruckService/logonUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserProfile">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersByRole">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getUsersByRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersByCompany">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getUsersByCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUser">
      <soap:operation soapAction="http://tempuri.org/ITruckService/setUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetPassword">
      <soap:operation soapAction="http://tempuri.org/ITruckService/resetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="http://tempuri.org/ITruckService/deleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserRolesGuids">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getUserRolesGuids" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserCompanies">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getUserCompanies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserCompaniesFull">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getUserCompaniesFull" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserRolesFull">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getUserRolesFull" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompanies">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getCompanies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCompany">
      <soap:operation soapAction="http://tempuri.org/ITruckService/setCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCompany">
      <soap:operation soapAction="http://tempuri.org/ITruckService/deleteCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoles">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setRole">
      <soap:operation soapAction="http://tempuri.org/ITruckService/setRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRole">
      <soap:operation soapAction="http://tempuri.org/ITruckService/deleteRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserToCompany">
      <soap:operation soapAction="http://tempuri.org/ITruckService/addUserToCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUserFromCompany">
      <soap:operation soapAction="http://tempuri.org/ITruckService/removeUserFromCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserToRole">
      <soap:operation soapAction="http://tempuri.org/ITruckService/addUserToRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUserFromRole">
      <soap:operation soapAction="http://tempuri.org/ITruckService/removeUserFromRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUserRoles">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getAllUserRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUserCompanies">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getAllUserCompanies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExtendedData">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getExtendedData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateExtendedData">
      <soap:operation soapAction="http://tempuri.org/ITruckService/updateExtendedData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteExtendedData">
      <soap:operation soapAction="http://tempuri.org/ITruckService/deleteExtendedData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVehicleClasses">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getVehicleClasses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateVehicleClass">
      <soap:operation soapAction="http://tempuri.org/ITruckService/updateVehicleClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteVehicleClass">
      <soap:operation soapAction="http://tempuri.org/ITruckService/deleteVehicleClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDrivers">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getDrivers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAvailableDrivers">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getAvailableDrivers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateDriver">
      <soap:operation soapAction="http://tempuri.org/ITruckService/updateDriver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDriver">
      <soap:operation soapAction="http://tempuri.org/ITruckService/deleteDriver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppVars">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getAppVars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAppVar">
      <soap:operation soapAction="http://tempuri.org/ITruckService/updateAppVar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAppVar">
      <soap:operation soapAction="http://tempuri.org/ITruckService/deleteAppVar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceVars">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getServiceVars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateServiceVar">
      <soap:operation soapAction="http://tempuri.org/ITruckService/updateServiceVar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteServiceVar">
      <soap:operation soapAction="http://tempuri.org/ITruckService/deleteServiceVar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVars">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getVars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSpecificVar">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getSpecificVar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateVar">
      <soap:operation soapAction="http://tempuri.org/ITruckService/updateVar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteVar">
      <soap:operation soapAction="http://tempuri.org/ITruckService/deleteVar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllStatus">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getAllStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTruckStatus">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getTruckStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dispatchVehicle">
      <soap:operation soapAction="http://tempuri.org/ITruckService/dispatchVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDispatches">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getAllDispatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDispatchesByVehicle">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getDispatchesByVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDispatchesByRange">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getDispatchesByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDispatchesByID">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getDispatchesByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAlerts">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getAllAlerts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAlertsByVehicle">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getAllAlertsByVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAlertsByRange">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getAllAlertsByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAlertsByRangeByType">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getAllAlertsByRangeByType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAlertByID">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getAllAlertByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAlertsByRangeByVehicle">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getAllAlertsByRangeByVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGPSTracking">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getGPSTracking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clearAlerts">
      <soap:operation soapAction="http://tempuri.org/ITruckService/clearAlerts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reloadVehicles">
      <soap:operation soapAction="http://tempuri.org/ITruckService/reloadVehicles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logoffDriver">
      <soap:operation soapAction="http://tempuri.org/ITruckService/logoffDriver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeDrivers">
      <soap:operation soapAction="http://tempuri.org/ITruckService/changeDrivers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TruckService">
    <wsdl:port name="BasicHttpBinding_ITruckService" binding="tns:BasicHttpBinding_ITruckService">
      <soap:address location="http://localhost/TraxxCloudService/TruckService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>