IntelliTraxx/Service References/TruckService/TruckService63.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LATATrax.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LATATrax.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GPSData">
    <xs:sequence>
      <xs:element minOccurs="0" name="dir" type="xs:double" />
      <xs:element minOccurs="0" name="lat" type="xs:double" />
      <xs:element minOccurs="0" name="lon" type="xs:double" />
      <xs:element minOccurs="0" name="messageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="spd" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GPSData" nillable="true" type="tns:GPSData" />
  <xs:complexType name="ArrayOfStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Status" nillable="true" type="tns:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatus" nillable="true" type="tns:ArrayOfStatus" />
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element minOccurs="0" name="messageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="statusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="statusVal" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:complexType name="OBD2">
    <xs:sequence>
      <xs:element minOccurs="0" name="CAN" nillable="true" type="tns:ArrayOfkvPair" />
      <xs:element minOccurs="0" name="M" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="T" type="xs:int" />
      <xs:element minOccurs="0" name="timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="timestampUTC" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OBD2" nillable="true" type="tns:OBD2" />
  <xs:complexType name="ArrayOfkvPair">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="kvPair" nillable="true" type="tns:kvPair" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfkvPair" nillable="true" type="tns:ArrayOfkvPair" />
  <xs:complexType name="kvPair">
    <xs:sequence>
      <xs:element minOccurs="0" name="K" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="V" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="kvPair" nillable="true" type="tns:kvPair" />
</xs:schema>