IntelliTraxx/Service References/PolygonService/PolygonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PolygonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/LATATraxxService/PolygonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/LATATraxxService/PolygonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/LATATraxxService/PolygonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LATATrax.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPolygonService_getPolygons_InputMessage">
    <wsdl:part name="parameters" element="tns:getPolygons" />
  </wsdl:message>
  <wsdl:message name="IPolygonService_getPolygons_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPolygonsResponse" />
  </wsdl:message>
  <wsdl:message name="IPolygonService_getPolygon_InputMessage">
    <wsdl:part name="parameters" element="tns:getPolygon" />
  </wsdl:message>
  <wsdl:message name="IPolygonService_getPolygon_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPolygonResponse" />
  </wsdl:message>
  <wsdl:message name="IPolygonService_addPolygon_InputMessage">
    <wsdl:part name="parameters" element="tns:addPolygon" />
  </wsdl:message>
  <wsdl:message name="IPolygonService_addPolygon_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPolygonResponse" />
  </wsdl:message>
  <wsdl:message name="IPolygonService_deletePolygon_InputMessage">
    <wsdl:part name="parameters" element="tns:deletePolygon" />
  </wsdl:message>
  <wsdl:message name="IPolygonService_deletePolygon_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletePolygonResponse" />
  </wsdl:message>
  <wsdl:portType name="IPolygonService">
    <wsdl:operation name="getPolygons">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolygonService/getPolygons" message="tns:IPolygonService_getPolygons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolygonService/getPolygonsResponse" message="tns:IPolygonService_getPolygons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPolygon">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolygonService/getPolygon" message="tns:IPolygonService_getPolygon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolygonService/getPolygonResponse" message="tns:IPolygonService_getPolygon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPolygon">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolygonService/addPolygon" message="tns:IPolygonService_addPolygon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolygonService/addPolygonResponse" message="tns:IPolygonService_addPolygon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletePolygon">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolygonService/deletePolygon" message="tns:IPolygonService_deletePolygon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolygonService/deletePolygonResponse" message="tns:IPolygonService_deletePolygon_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPolygonService" type="tns:IPolygonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPolygons">
      <soap:operation soapAction="http://tempuri.org/IPolygonService/getPolygons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPolygon">
      <soap:operation soapAction="http://tempuri.org/IPolygonService/getPolygon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPolygon">
      <soap:operation soapAction="http://tempuri.org/IPolygonService/addPolygon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePolygon">
      <soap:operation soapAction="http://tempuri.org/IPolygonService/deletePolygon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PolygonService">
    <wsdl:port name="BasicHttpBinding_IPolygonService" binding="tns:BasicHttpBinding_IPolygonService">
      <soap:address location="http://localhost/LATATraxxService/PolygonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>