IntelliTraxx Solution/IntelliTraxx.Shared/Connected Services/PolygonService/PolygonService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59978/PolygonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LATATrax.Models" />
  <xs:import schemaLocation="http://localhost:59978/PolygonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="getPolygons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPolygonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LATATrax.Models" minOccurs="0" name="getPolygonsResult" nillable="true" type="q1:ArrayOfpolygonData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPolygon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPolygonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LATATrax.Models" minOccurs="0" name="getPolygonResult" nillable="true" type="q2:polygonData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPolygon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LATATrax.Models" minOccurs="0" name="poly" nillable="true" type="q3:polygonData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPolygonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPolygonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePolygon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GeoFenceID" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePolygonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>