IntelliTraxx/Service References/AlertAdminService/AlertAdminSvc1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/TraxxCloudService/AlertAdminSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LATATrax" />
  <xs:import schemaLocation="http://localhost/TraxxCloudService/AlertAdminSvc.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/TraxxCloudService/AlertAdminSvc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="getAlertClasses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlertClassesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LATATrax" minOccurs="0" name="getAlertClassesResult" nillable="true" type="q1:ArrayOfalertClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlertVehicles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlertVehiclesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LATATrax" minOccurs="0" name="getAlertVehiclesResult" nillable="true" type="q2:ArrayOfalertVehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlertGeoFences">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlertGeoFencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LATATrax" minOccurs="0" name="getAlertGeoFencesResult" nillable="true" type="q3:ArrayOfalertGeoFence" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlerts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LATATrax" minOccurs="0" name="getAlertsResult" nillable="true" type="q4:ArrayOfdbAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllLinkVehicles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllLinkVehiclesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LATATrax" minOccurs="0" name="getAllLinkVehiclesResult" nillable="true" type="q5:ArrayOflinkVehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPolygons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPolygonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LATATrax" minOccurs="0" name="getPolygonsResult" nillable="true" type="q6:ArrayOfpolyData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLinkedAlertsVehicles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alertFriendlyName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLinkedAlertsVehiclesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getLinkedAlertsVehiclesResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLinkedAlertsGeoFences">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alertFriendlyName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLinkedAlertsGeoFencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getLinkedAlertsGeoFencesResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlertData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="alertID" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlertDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LATATrax" minOccurs="0" name="getAlertDataResult" nillable="true" type="q10:alertData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSchedules">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSchedulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LATATrax" minOccurs="0" name="getAllSchedulesResult" nillable="true" type="q11:ArrayOfschedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSchedulesByVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSchedulesByVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/LATATrax" minOccurs="0" name="getAllSchedulesByVehicleResult" nillable="true" type="q12:ArrayOfvsLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllVehiclesBySchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="scheduleID" type="q13:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllVehiclesByScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/LATATrax" minOccurs="0" name="getAllVehiclesByScheduleResult" nillable="true" type="q14:ArrayOfvsLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAlertData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/LATATrax" minOccurs="0" name="a" nillable="true" type="q15:dbAlert" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/LATATrax" minOccurs="0" name="agfList" nillable="true" type="q16:ArrayOfalertGeoFence" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/LATATrax" minOccurs="0" name="avList" nillable="true" type="q17:ArrayOfalertVehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAlertDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateAlertDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/LATATrax" minOccurs="0" name="a" nillable="true" type="q18:dbAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAlertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteAlertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeAlertStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="aList" nillable="true" type="q19:ArrayOfguid" />
        <xs:element minOccurs="0" name="enable" type="xs:boolean" />
        <xs:element minOccurs="0" name="updatedb" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeAlertStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="changeAlertStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="changeScheduleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSchedules">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/LATATrax" minOccurs="0" name="dSchedules" nillable="true" type="q20:ArrayOfschedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSchedulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteSchedulesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSchedulesBySchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="scheduleID" type="q21:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSchedulesByScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteSchedulesByScheduleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSchedulesByVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSchedulesByVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteSchedulesByVehicleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSchedules">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/LATATrax" minOccurs="0" name="sList" nillable="true" type="q22:ArrayOfschedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSchedulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateSchedulesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addVehicleToSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="scheduleID" type="q23:guid" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="vehicleIDs" nillable="true" type="q24:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addVehicleToScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addVehicleToScheduleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSchedulesToVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="scheduleList" nillable="true" type="q25:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSchedulesToVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addSchedulesToVehicleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>