priority.intellitraxx.com/Website/Service References/LATAService/TruckService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/LATATrax.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LATATrax.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/LATATrax/TruckService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LATATrax" />
  <xs:import schemaLocation="http://localhost/LATATrax/TruckService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LATATrax.Messages" />
  <xs:import schemaLocation="http://localhost/LATATrax/TruckService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vehicle" nillable="true" type="tns:Vehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicle" nillable="true" type="tns:ArrayOfVehicle" />
  <xs:complexType name="Vehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="VehicleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="alerts" nillable="true" type="tns:ArrayOfalert" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LATATrax" minOccurs="0" name="driver" nillable="true" type="q1:Driver" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LATATrax" minOccurs="0" name="extendedData" nillable="true" type="q2:VehicleExtendedData" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LATATrax.Messages" minOccurs="0" name="gps" nillable="true" type="q3:GPSData" />
      <xs:element minOccurs="0" name="insidePolyName" nillable="true" type="tns:polygonData" />
      <xs:element minOccurs="0" name="isInside" type="xs:boolean" />
      <xs:element minOccurs="0" name="lastMessageReceived" type="xs:dateTime" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="runID" type="ser:guid" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LATATrax.Messages" minOccurs="0" name="status" nillable="true" type="q4:ArrayOfStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vehicle" nillable="true" type="tns:Vehicle" />
  <xs:complexType name="ArrayOfalert">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="alert" nillable="true" type="tns:alert" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfalert" nillable="true" type="tns:ArrayOfalert" />
  <xs:complexType name="alert">
    <xs:sequence>
      <xs:element minOccurs="0" name="alertActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="alertEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="alertID" type="ser:guid" />
      <xs:element minOccurs="0" name="alertName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="alertStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="alertType" type="xs:int" />
      <xs:element minOccurs="0" name="latLonEnd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="latLonStart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maxVal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="runID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="alert" nillable="true" type="tns:alert" />
  <xs:complexType name="polygonData">
    <xs:sequence>
      <xs:element minOccurs="0" name="actionIn" type="xs:boolean" />
      <xs:element minOccurs="0" name="actionInEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="actionOut" type="xs:boolean" />
      <xs:element minOccurs="0" name="actionOutEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="geoFence" nillable="true" type="tns:ArrayOfLatLon" />
      <xs:element minOccurs="0" name="geoFenceID" type="ser:guid" />
      <xs:element minOccurs="0" name="geoType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="polyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="radius" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="polygonData" nillable="true" type="tns:polygonData" />
  <xs:complexType name="ArrayOfLatLon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LatLon" nillable="true" type="tns:LatLon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLatLon" nillable="true" type="tns:ArrayOfLatLon" />
  <xs:complexType name="LatLon">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alt" type="xs:double" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Lon" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LatLon" nillable="true" type="tns:LatLon" />
</xs:schema>