priority.intellitraxx.com/KeepAlive/Service References/IntelliFleetVehicleService/VehicleService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/IntelliFleetService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IntelliFleetService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58078/VehicleService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IntelliFleetService" />
  <xs:import schemaLocation="http://localhost:58078/VehicleService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/IntelliFleetService.Messages" />
  <xs:import schemaLocation="http://localhost:58078/VehicleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vehicle" nillable="true" type="tns:Vehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicle" nillable="true" type="tns:ArrayOfVehicle" />
  <xs:complexType name="Vehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="VehicleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="alerts" nillable="true" type="tns:ArrayOfalert" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IntelliFleetService" minOccurs="0" name="companyAlerts" nillable="true" type="q1:ArrayOfCompanyAlerts" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IntelliFleetService" minOccurs="0" name="extendedData" nillable="true" type="q2:VehicleExtendedData" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IntelliFleetService.Messages" minOccurs="0" name="gps" nillable="true" type="q3:GPSData" />
      <xs:element minOccurs="0" name="insidePolyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isInside" type="xs:boolean" />
      <xs:element minOccurs="0" name="lastMessageReceived" type="xs:dateTime" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="runID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vehicle" nillable="true" type="tns:Vehicle" />
  <xs:complexType name="ArrayOfalert">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="alert" nillable="true" type="tns:alert" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfalert" nillable="true" type="tns:ArrayOfalert" />
  <xs:complexType name="alert">
    <xs:sequence>
      <xs:element minOccurs="0" name="alertActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="alertEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="alertID" type="ser:guid" />
      <xs:element minOccurs="0" name="alertName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="alertStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="alertType" type="xs:int" />
      <xs:element minOccurs="0" name="latLonEnd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="latLonStart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maxVal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="runID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="alert" nillable="true" type="tns:alert" />
</xs:schema>