priority.intellitraxx.com/KeepAlive/Service References/IntelliFleetVehicleService/VehicleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IntelliFleetService.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IntelliFleetService.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GPSData">
    <xs:sequence>
      <xs:element minOccurs="0" name="dir" type="xs:double" />
      <xs:element minOccurs="0" name="lat" type="xs:double" />
      <xs:element minOccurs="0" name="lon" type="xs:double" />
      <xs:element minOccurs="0" name="messageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="spd" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GPSData" nillable="true" type="tns:GPSData" />
</xs:schema>