priority.intellitraxx.com/KeepAlive/Service References/IntelliFleetVehicleService/VehicleService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/IntelliFleetService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IntelliFleetService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58078/VehicleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfCompanyAlerts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyAlerts" nillable="true" type="tns:CompanyAlerts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyAlerts" nillable="true" type="tns:ArrayOfCompanyAlerts" />
  <xs:complexType name="CompanyAlerts">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertID" type="ser:guid" />
      <xs:element minOccurs="0" name="AlertName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyAlerts" nillable="true" type="tns:CompanyAlerts" />
  <xs:complexType name="VehicleExtendedData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleFriendlyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
      <xs:element minOccurs="0" name="companyID" type="ser:guid" />
      <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="haulLimit" type="xs:int" />
      <xs:element minOccurs="0" name="licensePlate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vehicleClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vehicleClassID" type="ser:guid" />
      <xs:element minOccurs="0" name="vehicleClassImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehicleExtendedData" nillable="true" type="tns:VehicleExtendedData" />
  <xs:complexType name="ArrayOfsystemvar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="systemvar" nillable="true" type="tns:systemvar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsystemvar" nillable="true" type="tns:ArrayOfsystemvar" />
  <xs:complexType name="systemvar">
    <xs:sequence>
      <xs:element minOccurs="0" name="companyID" type="ser:guid" />
      <xs:element minOccurs="0" name="varID" type="ser:guid" />
      <xs:element minOccurs="0" name="varMaxVal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="varMinVal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="varModBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="varModDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="varName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="varType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="systemvar" nillable="true" type="tns:systemvar" />
</xs:schema>