IntelliTraxx/Service References/AJAXVehiclesService/AJAXVehicles5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LATATrax" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LATATrax" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://38.124.164.212:9028/AJAXVehicles.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="OBDUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="MAC" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dtcs" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pidvals" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OBDUpdate" nillable="true" type="tns:OBDUpdate" />
</xs:schema>