IntelliTraxx Solution/IntelliTraxx/Service References/TabletService/TabletInterface1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/LATATrax" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LATATrax" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/TraxxCloudService/TabletInterface.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="TabletDriver">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DriverNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="runID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TabletDriver" nillable="true" type="tns:TabletDriver" />
  <xs:complexType name="tabletGPS">
    <xs:sequence>
      <xs:element minOccurs="0" name="direction" type="xs:int" />
      <xs:element minOccurs="0" name="lat" type="xs:double" />
      <xs:element minOccurs="0" name="lon" type="xs:double" />
      <xs:element minOccurs="0" name="speed" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tabletGPS" nillable="true" type="tns:tabletGPS" />
  <xs:complexType name="dispatch">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="MACAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ackMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ackTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="acked" type="xs:boolean" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="completedMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="completedTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="driverPIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="routerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="runID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="sentToVehicle" type="xs:dateTime" />
      <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="timeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dispatch" nillable="true" type="tns:dispatch" />
</xs:schema>