IntelliTraxx Solution/IntelliTraxx/Service References/AJAXVehiclesService/AJAXVehicles.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://38.124.164.212:9028/AJAXVehicles.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LATATrax.Models" />
  <xs:import schemaLocation="http://38.124.164.212:9028/AJAXVehicles.svc?xsd=xsd3" namespace="http://tempuri.org" />
  <xs:import schemaLocation="http://38.124.164.212:9028/AJAXVehicles.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/LATATrax" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLogon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLogonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLogonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="serviceTest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="serviceTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceTestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getJSONVehicles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getJSONVehiclesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getJSONVehiclesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPolygon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LATATrax.Models" minOccurs="0" name="poly" nillable="true" type="q1:polygonData" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPolygonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPolygonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGeoFenceDesignerObjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getGeoFenceDesignerObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getGeoFenceDesignerObjectsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpecificGeoFenceDesignerObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpecificGeoFenceDesignerObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSpecificGeoFenceDesignerObjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFenceNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getFenceNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getFenceNamesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPolygons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPolygonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPolygonsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getKMLByPolygon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polyName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getKMLByPolygonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getKMLByPolygonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sayHello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="sayHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://tempuri.org" minOccurs="0" name="sayHelloResult" nillable="true" type="q2:speak" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setCellSignal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MAC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timestamp" type="xs:dateTime" />
        <xs:element minOccurs="0" name="lat" type="xs:double" />
        <xs:element minOccurs="0" name="lon" type="xs:double" />
        <xs:element minOccurs="0" name="dBm" type="xs:int" />
        <xs:element minOccurs="0" name="quality" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setCellSignalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setCellSignalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ODBInit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MAC" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ODBInitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ODBInitResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setODBData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LATATrax" minOccurs="0" name="ODBData" nillable="true" type="q3:OBDUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setODBDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setODBDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>